/* CSS Document */

body{
	background: #efeee7;
	font-family: "Georgia, Times New Roman, Times, serif";
	color: #333333;
	margin: 0px;
	padding: 0px;
}

#mainBio{
	
}

#contactInfo{
	
}

#bioImage{
	
}